@charset "utf-8";

body {
  background: #010b17 url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom left;
  background-attachment: fixed;
  font-family: 'Courier New', Courier, monospace; 
  position: relative;
}

h1 {
  color: rgba(0, 0, 0, .3);
  font-weight: bold;
  font-size: 32px;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .55);
  padding: 350px 0 10px;
  margin: 0; }

h2 {
  text-align: left;
  padding: 15px 0px 0px 10px;
}

p{
  font-size: 14px;
  padding: 10px 10px 0px 10px;

}

ul.nav-pills {
  top: 20px;
  position: fixed;
}


.doc {
  font-size: 14px;
  margin: 0; }
  .doc:before,
  .doc:after {
    opacity: .2;
    padding: 6px;
    font-style: normal;
    position: relative;
    content: "•"; }
  .doc a {
    color: rgba(0, 0, 0, 0.3); }
    .doc a:hover {
      color: #666; }

.section {
  color: #eeeeee;
  background: rgba(1, 11, 23, 0.35); 
}

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s; }


@media screen and (max-width: 810px) {
  #section-introduction, #section-workexp, #section-projects, #section41, #section42  {
      margin-left: 150px;
  }
}

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}