<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title %></title>

    <%= stylesheet_link_tag "normalize", "all" %>
    <%= javascript_include_tag  "all" %>
  </head>

  <body class="<%= page_classes %>" data-spy="scroll" data-target="#myScrollspy" data-offset="20">
    <div class="container">
      <div class="row">
        <!-- BEGIN MENU-->
        <h2> Skylar Shyu </h2>
        <nav class="col-sm-3" id="myScrollspy">
          <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#section-introduction">Introduction</a></li>
            <li><a href="#section-workexp">Work Experience</a></li>
            <li><a href="#section-projects">Projects</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Section 4 <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#section41">Section 4-1</a></li>
                <li><a href="#section42">Section 4-2</a></li>                     
              </ul>
            </li>
          </ul>
        </nav>

        <!-- BEGIN CONTENT-->
        <div class="col-sm-9">
           <%= yield %>
        </div>

      </div>
    </div>

  <!-- 
    <%= yield %>
  -->
  </body>
</html>
