---
title: Skylar Shyu
---

<div class="section" id="section-introduction">    
  <h2>Introduction</h2>
  <p> Hello! I’m currently studying computer science at the <a href="http://cs.utah.edu">University of Utah.</a></p>
  <p>My areas of interest within computer science are automation and data analytics, with the goal of standardizing processes and eliminate the human overhead cost associated with performing repetitive tasks, as well as create prediction models to forecast changes. I gravitate toward web development projects as I was exposed to web design at a young age (way back in 1999).</p>
  <p>Outside of academics and computer science in general, I satiate my OCD-ness with games such as Cities: Skylines and Oxygen Not Included while listening to JRPG soundtracks. I’m a huge sneakerhead and enjoy collecting Air Jordans. In another better world, I would be an essayist; in reality, I just binge on fanfiction.</p>
  <br>
</div>

<div class="section" id="section-workexp"> 
  <h2>Work experience</h2>


  <%= image_tag 'worklogos/symantec.png', :width => '200', :class => 'float-left' %>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil ad, ex eaque fuga minus reprehenderit asperiores earum incidunt. Possimus maiores dolores voluptatum enim soluta omnis debitis quam ab nemo necessitatibus.

  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil ad, ex eaque fuga minus reprehenderit asperiores earum incidunt. Possimus maiores dolores voluptatum enim soluta omnis debitis quam ab nemo necessitatibus.

  <br>
</div>     

<div class="section" id="section-projects">         
  <h2>Side Stuff</h2>
  <p>Try to scroll this section and look at the navigation list while scrolling!</p>
  <br>
</div>

<div class="section" id="section41">         
  <h2>Section 4-1</h2>
  <p>Try to scroll this section and look at the navigation list while scrolling!</p>
  <br>
</div>     

<div class="section" id="section42">         
  <h2>Section 4-2</h2>
  <p>Try to scroll this section and look at the navigation list while scrolling!</p>
  <br>
</div>